<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="items$ | async as items; else loading">
    <div *ngIf="items.length > 0; else empty">
      <ul *ngFor="let item of items">
        <li>
          <span routerLink="/items/detail/{{ item.id }}">{{ item.title }}</span>
          <ion-button (click)="update(item)">update</ion-button>
          <ion-button (click)="delete(item.id)">delete</ion-button></li>
      </ul>
    </div>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #loading>Loading...</ng-template>
<ng-template #empty>No items found!</ng-template>
